<div class="affaire_form">
<%= form_for(@affaire) do |f|  %>
  <% if @affaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@affaire.errors.count, "error") %> prohibited this affaire from being saved:</h2>

      <ul>
      <% @affaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :phase %>
    <%= f.select :phase_id, @phases.collect{|p| [p.name, p.id]} if @phases != nil	 %>
  </div>
  <div class="field">
    <%= f.label :etat %>
    <%= f.check_box :etat %>
  </div>
  <div class="field">
    <%= f.label :date_debut %><br />
    <%= f.datetime_select :date_debut %>
  </div>
  <div class="field">
    <%= f.label :duree %><br />
    <%= f.text_field :duree %>
  </div>
  <div class="field">
    <%= f.label :receptioner %><br />
    <%= f.check_box :receptioner %>
  </div>
  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<div class="contact_form">
  
    <%= f.fields_for :contact do |contact| %>
      <%= render :partial => "contacts/form", :locals => { :f => contact } %> 
    <% end %>

</div>


<% end %>
