
<% content_for :rightpanel do %>

	<%= render :partial => "menu", :object => @sitemap.children(@sitemap.currentMenuId) %>
 	
<% end %>

<div id="affaires">
	<h1>Affaires</h1>
	
	<table>
	  <tr>
	    <th>Reference</th>
	    <th>Nom</th>
	    <th>Total</th>	   
	    <th>Date debut</th>
	    <th>Duree</th>	    
	  </tr>
	
	<% @affaires.each do |affaire| %>
	  <tr>
	    <td><%= affaire.reference %></td>
	    <td><%= affaire.nom %></td>	    
	    <td><%= affaire.total %></td>	    	    
	    <td><%= affaire.date_debut.strftime("%d-%m-%Y") %></td>
	    <td><%= affaire.duree %></td>	    
	    
	    <td>
	    	<%= link_to affaire do %>
	    		<%= image_tag "show.jpg" %>
	    	<% end %>
	    </td>
	    
	    <td>
	    	<%= link_to edit_affaire_path(affaire) do %>
	    		<%= image_tag "edit.png"%>
	    	<% end %>	
	    </td>
	    
	    <td>
	    	<%= link_to affaire, :confirm => 'Are you sure?', :method => :delete  do %>
	    		<%= image_tag "destroy.png"%>
	    	<% end %>
	    </td>
	    
	    <td>
	    	<%= link_to affaire_notes_url(affaire) do %>
	    		<%= image_tag "note.png"%>
	    	<% end %>		
	    </td>
	  </tr>
	<% end %>
	</table>
</div>
<br />
