<!DOCTYPE html>
<html>
<head>
  <title>Busyboard</title>
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">	
	<div id="page-header"> 
		<span class="title">Buzyboard</span>
		<%= render :partial => 'sitemap', :object => @sitemap %>
		<div id="menu-tabs">

			<%= render :partial => 'menu', :object => @sitemap.top_elements %>
		
		</div>			
	</div>
	<br style="clear: both">
	<div id="content">
		<%= yield %>
	</div>
	<div id="rightpanel">
		<%= yield :rightpanel %>
	</div>
</div>
</body>
</html>
